* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background: #2c2b3d;
  width: 1280px;
  height: 720px;
  margin-inline: auto;
  padding-inline: 5rem;
}

/*===============NAV===============================================================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 71px auto 101px;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  display: inline-block;
  padding-left: 64px;
  text-decoration: none;
  color: white;
}

/*===============MAIN===============================================================*/

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-left: 77px;
}

main h1 {
  font-family: 'JetBrains Mono';
  font-size: 36px;
  line-height: 40px;
  color: white;

  text-align: center;

  margin-bottom: 50px;
}

main p {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  color: #c2c2c2;

  text-align: center;
}

main span {
  color: #00bfa6;
}

.first {
  margin-bottom: 40px;
}

/*===============FOOTER===============================================================*/

footer {
  margin-top: 157px;
  text-align: center;
  justify-content: center;
}

.line {
  margin-inline: auto;
  margin-bottom: 27px;
  width: 568px;
  border: 1px solid #00bfa6;
}

footer h3 {
  color: white;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
